{% extends 'base.html.twig' %}

{% form_theme formClasse 'bootstrap_5_layout.html.twig' %}

{% block body %} 


<div class="container-fluid d-flex justify-content-center mt-5">

  <div class="card col-6">
    <div class="card-body">
      <h4 class="card-title">Ajouter</h4>
      <p class="card-text ml-3">

      
        {{ form_start(formClasse) }}
      
          {{ form_widget(formClasse) }}

          {# <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
            <option value="AL">Alabama</option>
          <option value="AL">Alabama</option>
        <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
    <option value="AL">Alabama</option>
  <option value="AL">Alabama</option>


  

            <option value="WY">Wyoming</option>
          </select> #}

            <button type="submit" class="btn btn-primary">
              {% if editClasse %}
                Enregistrer
              {% else %}
                  Envoyer
              {% endif %}
            </button>
          
        {{ form_end(formClasse) }}

      </p>
    </div>
  </div>
  <img class="img-fluid col-6"src="{{ asset('images/classes.png') }}" alt="">
</div>

{# <div class='d-flex justify-content-center'>
    {% do profs.setPageRange(2) %}
    {{ knp_pagination_render(classes, 'base/pagination.html.twig') }}
</div>  #}

{% endblock %}