{% extends 'base.html.twig' %}

{% block body %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end sticky">
    <a href="{{ path('etudiant_reinscription') }}">
<button class="text-light btn btn-primary me-md-2" type="button">Réinscription</button>
</a>
</div>

    <div class="container-fluid d-flex justify-content-center mt-5">

      <div class="card col-6">
        <div class="card-body">

        <h1>Inscription</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary"> Inscription
        {# {% if reinscri %}
            Inscrire
      {% else %}
          Reinscrire
      {% endif %} #}
           </button>

        {{ form_end(form) }}

    </div>
    </div>
        <img class="img-fluid col-6" style='height:5rem" src="{{ asset('images/students.png') }}" alt="">
    </div>

{% endblock %}  